.explore {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    background-color: rgb(111, 228, 243);
}

.explore-content {
    width: 60%;
    padding: 50px;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.explore-content h1 {
    font-size: 7vmin;
    align-self: flex-start;
}

.explore-content .line {
    margin-left: -1px;
}

.explore-content p {
    color: black;
    margin-top: 48px;
    padding-left: 0px;
}

.explore-content .ctn {
    margin-top: 40px;
    padding-left: 15px;
margin-right: 211px;
}